# Dependencies
node_modules/
.npm
dist/

# Database
database.sqlite
*.sqlite-journal

# Env
.env

# OS
.DS_Store
Thumbs.db


#custom
Team_Task_Manager_Assignment.docx
VERCEL_SUPABASE_DEPLOYMENT.md
backend/.env.example.postgresql
backend/package.json.postgresql